kind: Secret
apiVersion: v1
metadata:
  name: {{ include "jetspotter.fullname" . }}
  labels: {{ include "jetspotter.labels" . | nindent 4 }}
  namespace: {{ .Release.Namespace }}
stringData:
  SLACK_WEBHOOK_URL: {{ .Values.slack.webhook }}
  DISCORD_WEBHOOK_URL: {{ .Values.discord.webhook }}
  GOTIFY_TOKEN: {{ .Values.gotify.token }}
  AUTH_PASSWORD: {{ .Values.webUI.password | quote }}
