name: 'Release'
permissions:
  contents: write
  packages: write
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-22.04
    name: Run tests
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Run tests
        shell: bash
        run: |
          go test ./internal/... --count 1

  build:
    name: Build
    needs: [test]
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        os: [darwin, linux, windows]
        architecture: [arm64, amd64]
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - uses: actions/checkout@v3

      - name: Build
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.architecture }}
        id: build
        run: |
          go build -o jetspotter-${{ matrix.os }}-${{ matrix.architecture }} cmd/jetspotter/jetspotter.go

      - uses: actions/upload-artifact@v3
        name: Upload artifact
        with:
          name: "jetspotter-${{ matrix.os }}-${{ matrix.architecture }}"
          path: jetspotter-${{ matrix.os }}-${{ matrix.architecture }}

  check:
    name: Check release required
    needs: [build]
    runs-on: ubuntu-22.04
    outputs:
      new_release_version: ${{ steps.check_semantic.outputs.new_release_version }}
      new_release_notes: ${{ steps.check_semantic.outputs.new_release_notes }}
    steps:
      - uses: actions/checkout@v3
      - name: Install conventional-changelog-conventionalcommits
        run: npm install conventional-changelog-conventionalcommits
      - name: Check semantic release
        uses: cycjimmy/semantic-release-action@v4
        id: check_semantic
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release:
    name: Create release
    needs: [check]
    if: needs.check.outputs.new_release_version
    runs-on: [ubuntu-22.04]
    steps:
      - run: mkdir artifacts
      - uses: actions/download-artifact@v3
        name: Download artifact
        with:
          path: artifacts

      - run: ls -ltr artifacts/jetspotter-*/*

      - name: Create the release
        uses: ncipollo/release-action@v1
        id: release
        with:
          artifacts: artifacts/jetspotter-*/*
          name: ${{ needs.check.outputs.new_release_version }}
          body: ${{ needs.check.outputs.new_release_notes }}
          tag: ${{ needs.check.outputs.new_release_version }}
          token: ${{ secrets.GITHUB_TOKEN }}

  image:
    name: Push container image and helm chart
    runs-on: ubuntu-latest
    needs: [check]
    env:
      REGISTRY: ghcr.io
    if: needs.check.outputs.new_release_version
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push 
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ env.REGISTRY }}/${{ github.repository }}:latest,${{ env.REGISTRY }}/${{ github.repository }}:${{ needs.check.outputs.new_release_version }}

      - name: Package and push helm chart
        run: |
          helm package helm/jetspotter --version ${{ needs.check.outputs.new_release_version }} --app-version ${{ needs.check.outputs.new_release_version }} 
          helm push jetspotter-${{ needs.check.outputs.new_release_version }}.tgz oci://${{ env.REGISTRY }}/${{ github.repository }}-chart

  notification:
    name: Send notification on failure
    needs: [build, release, image]
    if: failure()
    runs-on: ubuntu-latest
    steps:
      - name: Send alert to slack
        id: slack
        uses: slackapi/slack-github-action@v1.24.0
        with:
          payload: |
            {
              "text": "Jetspotter failed build",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|GitHub action> for jetspotter failed"
                  }
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_GOOSE }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
